html, body {
    height: 100%; /* Pastikan tinggi halaman penuh */
    margin: 0; /* Hilangkan margin default */
  }
  
  body {
    background: radial-gradient(circle at 30% 107%, #2a2e42 20%, #3c4560 45%, #1f2435 90%);
    background-size: cover;
    background-position: center;
    padding: 15px;
  }
  
    
    .container {
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
    }
    
    h1 { text-align: center; }
    
    .navbar { 
      text-align: center; 
      margin-bottom: 30px;
    }
    
    .list-nav {
        padding: 0;
        margin: 0; 
    }
    
    .list-nav li {
        display: inline-block;
        list-style: none;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .list-nav a { font-size: 20px; }
    .list-nav li a.active { color: #996633(0, 0%, 0%); }
    a:hover { color: #444444; }
    
    a { 
      color: #996633; 
      text-decoration:none;
    }
    
    .content { 
      background-color: hwb(231 13% 69%); 
      border-radius: 10px;
    }
    
    .content-header{ margin-bottom: 0; }
    
    .content-text {
       font-size: 30px;
       margin: 0;
    }
    
    #content-img {
      background-image: url(profile.jpg);
      background-position: center;
      background-size: cover;
      min-height: 400px;
      text-align: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    
    #content-img img {
      max-width: 50%;
      margin-bottom: -15px;
      font-weight: 400px;
      font-weight: 400px;
      border-radius: 50%;
    }
    
    .content1 {
      padding: 15%;
      font-size: 30px;
    }
    
    .section {
      padding-top: 10px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
    }
    
    .section-small {
      max-width: 490px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 20px;
      text-align: center;
    }
    
    .section-header {
      background: radial-gradient(circle at 30% 107%, #2a2e42 20%, #3c4560 45%, #1f2435 90%);
      text-align: center;
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    
    hr {
      width: 60%;
      border: 0.5px solid hsl(210, 42%, 48%);
    }
    
    table {
      width: 100%;
      border-spacing: 0;
      padding-bottom: 20px;
    }
    
    th {
      color: #000;
      font-weight: 400;
      font-size: 1.2rem;
      padding-left: 15px;
      padding-right: 15px;
    }
    
    td {
      text-align: center;
      padding: 10px 15px;
    }
    
    .text-left { text-align: center; }
    tr:nth-child(odd) { background-color: hsl(231, 45%, 47%); }
    
    tr.tr-header {
      background:  radial-gradient(circle at 30% 107%, #949191 0%, hsl(0, 0%, 60%) 5%, hwb(0 0% 100%) 45%, rgb(60, 61, 61) 60%, #494949 90%);
      background: -webkit-radial-gradient(circle at 30% 107%, hwb(165 23% 75%) 0%, hwb(0 42% 58%) 5%, #6e6e6e 45%, hsl(319, 92%, 66%) 60%, hsl(298, 100%, 68%) 90%);
      height: 50px;
    }
    
    .footer-text {
      font-size: 15px;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
    }
    img { 
      max-width: 100%;
      max-height: 200px;
    }
    
    .gallery {
      display: flex;
      margin-left: -15px;
      margin-right: -15px;
    }
    
    .images {
      padding-left: 15px;
      padding-right: 15px;
    }
    
    figure { margin: 0; }
    figcaption { text-align: center; }
    
    figcaption span {
      display: block;
      color: #333333;
      font-size: 15px;
    }
    p { text-align: center; }